#company_layout{
	background-color: #f5f5f5;
}
#firstScreen {
    height: 456px;
    margin-top: -10px;
    position: relative;
}

#comCategorys{
	width: 210px;
	height: 456px;
	background-color: #fff;
	float: left;
	position: relative;
	z-index: 2;
}
#comCategorys .mt{
	width: 30px;
	height: 456px;
	background-color: #ededed;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
#comCategorys .mt ul li{
	width: 14px;
	height: 112px;
	padding:40px 8px 0 8px;
	font-family:"microsoft yahei";
	font-size: 14px;
	color: #333;
}
#comCategorys .mt ul li.curr{
	background-color: #fff;
	color: #e4393c;
}
#comCategorys .mc {
	margin-left: 30px;
	width: 180px;
}


#comCategorys .mc .c-tab{
	width: 180px;
	height: 456px;
}
#comCategorys .mc .part1{
	width: 180px;
	height: 456px;
	
}
#comCategorys .mc .part1 .menu{
	width: 180px;
	position: relative;

}
#comCategorys .mc .part1 .menu .item{
	border-top: 1px solid #f5f5f5;
	padding: 15px 10px;
	width: 160px;
	height: 45px;
	position: relative;
	z-index: 3;
}
#comCategorys .mc .part1 .menu .fore1{
	border-top: 0 none;	
}
#comCategorys .mc .part1 .menu .item .blank {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 100%;
    position: absolute;
    left:3px;
    top: 0;
    width: 180px;
    z-index: -1;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
}
#comCategorys .mc .part1 .menu .item.curr{
	

}
#comCategorys .mc .part1 .menu .item.curr .blank{
	display:block;
}
#comCategorys .mc .part1 .menu .item h3{
	font-family:"microsoft yahei";
	font-size: 14px;
	color: #333;
	margin-bottom: 5px;
}
#comCategorys .mc .part1 .menu .item .text a{
	display: inline-block;
	color: #888;
	margin-right: 5px;
}


