.a{background:none\9\0;}
.b{background:none\9;}
.c{background:none\0;}
.d{*width:100px;}
.e{_width:100px;}
.f{width: 100px;}
.f{-webkit-border-radius: 10px;}
.g{-moz-border-radius: 10px;}
.h{~expression(eval(document.documentElement.scrollTop))}
* div{width: 100px;}