// ---------- 1.变量赋值输出------------
	
		Welcome $name to Javayou.com!
		today is $date.
		tdday is $mydae.//未被定义的变量将当成字符串

// -----------2.设置变量值,所有变量都以$开头----------------

		#set( $iAmVariable = "good!" )
		Welcome $name to Javayou.com!
		today is $date.
		$iAmVariable

//-------------3.if,else判断--------------------------

		#set ($admin = "admin")
		#set ($user = "user")
		#if ($admin == $user)
		Welcome admin!
		#else
		Welcome user!
		#end

//--------------4.迭代数据List ($velocityCount为列举序号，默认从1开始) -----------

		#foreach( $product in $allProducts )
			<li>$velocityCount $product $product.title</li>
		#end

// ------------5.迭代数据get key-----------------

		#foreach($key in $myProducts.keySet() )  
			$key `s value: $myProducts.get($key)
		#end

//-----------6.导入其它文件,可输入多个--------------

		#parse("a.vm")
		#parse("b.vm")

//-----------[todo多个文件用逗号隔开]--------------